{% assign image_pos = include.image_position | default: "right" %}
{% assign text_align = include.text_align | default: "left" %}

<div class="content-split content-split--image-{{ image_pos }}">
  <div class="content-split__text content-split__text--{{ text_align }}">
    {{ include.content | strip | markdownify }}
  </div>
  
  <div class="content-split__media">
    {% if include.media_type == "insight-cards" %}
      {% include insight-cards.html insights=include.insights %}
    {% else %}
      <img src="{{ include.media_url }}" alt="{{ include.media_alt }}">
    {% endif %}
  </div>
</div>