<!DOCTYPE html>
<html>
	<head>
		<meta charset=utf-8 />
		<title>{%if page.title %} {{page.title}} | {% endif %} Ideaspace </title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
    	<meta name="description" content="{{ site.description }}">
		<link rel="stylesheet" type="text/css" href="http://markrondina.com/css/html-dr-reset.css">
		<link rel="stylesheet" type="text/css" href="http://markrondina.com/css/style.css">
		<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Oswald?Thin">
		<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Roboto">
		<script src="http://use.typekit.com/xys4fvq.js"></script>
		<script>try{Typekit.load();}catch(e){}</script>

		<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    
		</head>
	<body>
	<div id="top-header-bar"></div>
	<header class="site-width">
	<!--<div id="width" class="responsive"><p></p></div>-->
	<nav>
		<ul>
			<li><a href="http://markrondina.com/portfolio">Portfolio</a></li>
			<li><a href="#">About</a></li>
			<li class="active_page"><a href="http://markrondina.com">Blog</a></li>
		</ul>
	</nav>
	
	<div id="myLogo" class="seal"></div>
	</header>