<div class="project__hero__image">
  <div class="project__hero__image__inner">
    {% if page.hero_image %}
        <img src="{{ site.baseurl }}{{ page.hero_image }}" alt="{{ page.title }}">
    {% elsif page.image %}
        <img src="{{ site.baseurl }}{{ page.image }}" alt="{{ page.title }}">
    {% endif %}
  </div>
</div>
<div class="project__hero__inner">
  <h1 class="project__hero__title">{{ page.title }}</h1>
  {% if page.subtitle %}
    <p class="project__hero__description">{{ page.summary }}</p>
  {% endif %}
</div>