<section class="design-process">
        <div class="design-process__container">
            <header class="design-process__header">
                <h1 class="design-process__title">Design Process</h1>
                <span class="design-process__divider">|</span>
                <p class="design-process__description">
                    our product feature design process started with research, discovery and documentation and then the design workshop where the product was fully visualized
                </p>
                
            </header>

            <div class="design-process__steps">
                <div class="design-process__step">
                    <div class="design-process__step-header">
                       <svg xmlns="http://www.w3.org/2000/svg" class="design-process__step-icon" width="40" height="40" viewBox="0 0 24 24" stroke-width="1" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                            <path d="M8 16l2 -6l6 -2l-2 6l-6 2" />
                            <circle cx="12" cy="12" r="9" />
                        </svg>
                        <span class="design-process__step-title">Discovery</span>
                    </div>
                    <div class="design-process__step-content">
                        <ul class="design-process__step-list">
                            <li class="design-process__step-item">Quantitative Research</li>
                            <li class="design-process__step-item">Customer Feedback</li>
                            <li class="design-process__step-item">Qualitative Surveys</li>
                            <li class="design-process__step-item">Consolidated Insights</li>
                        </ul>
                    </div>
                </div>

                <div class="design-process__step">
                    <div class="design-process__step-header">
                        <svg xmlns="http://www.w3.org/2000/svg" class="design-process__step-icon" width="40" height="40" viewBox="0 0 24 24" stroke-width="1" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                            <path d="M14 3v4a1 1 0 0 0 1 1h4" />
                            <path d="M17 21h-10a2 2 0 0 1 -2 -2v-14a2 2 0 0 1 2 -2h7l5 5v11a2 2 0 0 1 -2 2z" />
                            <path d="M9 9l1 0" />
                            <path d="M9 13l6 0" />
                            <path d="M9 17l6 0" />
                        </svg>
                        <span class="design-process__step-title">Research & Documentation</span>
                    </div>
                    <div class="design-process__step-content">
                        <ul class="design-process__step-list">
                            <li class="design-process__step-item">PRD</li>
                            <li class="design-process__step-item">Workflow Mapping</li>
                            <li class="design-process__step-item">Wireframes</li>
                            <li class="design-process__step-item">Data Science</li>
                        </ul>
                    </div>
                </div>

                <div class="design-process__step">
                    <div class="design-process__step-header">
                        <svg xmlns="http://www.w3.org/2000/svg" class="design-process__step-icon" width="40" height="40" viewBox="0 0 24 24" stroke-width="1" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                            <path d="M4 20h4l10.5 -10.5a2.828 2.828 0 1 0 -4 -4l-10.5 10.5v4" />
                            <path d="M13.5 6.5l4 4" />
                            <path d="M16 19h6" />
                            <path d="M19 16v6" />
                        </svg>
                        <span class="design-process__step-title">Design Workshop</span>
                    </div>
                    <div class="design-process__step-content">
                        <ul class="design-process__step-list">
                            <li class="design-process__step-item">Visual Exploration</li>
                            <li class="design-process__step-item">New Component Definition</li>
                            <li class="design-process__step-item">Prototyping</li>
                        </ul>
                    </div>
                </div>

                <div class="design-process__excellence">
    <div class="design-process__excellence-badge">
        <svg xmlns="http://www.w3.org/2000/svg" class="design-process__excellence-icon" width="92" height="67" viewBox="0 0 92 67" fill="none">
            <g clip-path="url(#clip0_2069_248)">
                <path d="M1.6001 65.4048H38.4001L24.2505 35.4048C23.8696 34.5964 23.2679 33.9132 22.5154 33.4348C21.763 32.9564 20.8907 32.7024 20.0001 32.7024C19.1095 32.7024 18.2372 32.9564 17.4848 33.4348C16.7323 33.9132 16.1306 34.5964 15.7497 35.4048L1.6001 65.4048Z" fill="#1E2740" stroke="url(#paint0_linear_2069_248)" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M44.8 65.4049H90.4L72.8668 28.8195C72.3948 27.8337 71.6493 27.0005 70.7169 26.4171C69.7845 25.8337 68.7036 25.5239 67.6 25.5239C66.4965 25.5239 65.4156 25.8337 64.4832 26.4171C63.5508 27.0005 62.8053 27.8337 62.3332 28.8195L44.8 65.4049Z" fill="#1E2740" stroke="url(#paint1_linear_2069_248)" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M35.6 45.0654L29.2 38.6845L16 65.0059H72L59.2 39.8809L50 46.2618L44 38.2856L35.6 45.0654Z" fill="#1E2740"/>
                <path d="M39.2001 17.1488L30.4001 34.2976L29.6001 36.6904L36.0001 44.2678L44.4001 37.488L50.8001 46.2618L59.2001 39.0833C57.0668 33.1012 51.9201 20.3393 48.4001 17.1488C44.8801 13.9584 40.8001 15.8195 39.2001 17.1488Z" fill="white"/>
                <path d="M15.2 65.4046H72.7999L50.6528 18.7854C50.0565 17.5291 49.1147 16.4675 47.937 15.7241C46.7592 14.9806 45.3939 14.5859 43.9999 14.5859C42.606 14.5859 41.2407 14.9806 40.0629 15.7241C38.8852 16.4675 37.9434 17.5291 37.3471 18.7854L15.2 65.4046Z" stroke="url(#paint2_linear_2069_248)" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M29.6001 36.6904L36.0001 44.6666L44.0001 36.6904L50.4001 46.2619L58.4001 39.8809" stroke="url(#paint3_linear_2069_248)" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M43.9666 3.1574C44.5585 2.57891 45.3543 2.25488 46.1832 2.25488C47.0121 2.25488 47.8079 2.57891 48.3999 3.1574C48.9918 3.73589 49.7877 4.05992 50.6166 4.05992C51.4454 4.05992 52.2413 3.73589 52.8332 3.1574V8.84044C52.2413 9.41893 51.4454 9.74296 50.6166 9.74296C49.7877 9.74296 48.9918 9.41893 48.3999 8.84044C47.8079 8.26195 47.0121 7.93792 46.1832 7.93792C45.3543 7.93792 44.5585 8.26195 43.9666 8.84044V3.1574Z" fill="#FBD599" stroke="url(#paint4_linear_2069_248)" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M43.9666 13.2605V8.84033" stroke="url(#paint5_linear_2069_248)" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </g>
            <defs>
                <linearGradient id="paint0_linear_2069_248" x1="1.6001" y1="49.0536" x2="38.4001" y2="49.0536" gradientUnits="userSpaceOnUse">
                    <stop stop-color="#B66BE5"/>
                    <stop offset="0.47" stop-color="#EE8578"/>
                    <stop offset="1" stop-color="#FC8C5C"/>
                </linearGradient>
                <linearGradient id="paint1_linear_2069_248" x1="44.8" y1="45.4644" x2="90.4" y2="45.4644" gradientUnits="userSpaceOnUse">
                    <stop stop-color="#B66BE5"/>
                    <stop offset="0.47" stop-color="#EE8578"/>
                    <stop offset="1" stop-color="#FC8C5C"/>
                </linearGradient>
                <linearGradient id="paint2_linear_2069_248" x1="15.2" y1="39.9953" x2="72.7999" y2="39.9953" gradientUnits="userSpaceOnUse">
                    <stop stop-color="#B66BE5"/>
                    <stop offset="0.47" stop-color="#EE8578"/>
                    <stop offset="1" stop-color="#FC8C5C"/>
                </linearGradient>
                <linearGradient id="paint3_linear_2069_248" x1="29.6001" y1="41.4761" x2="58.4001" y2="41.4761" gradientUnits="userSpaceOnUse">
                    <stop stop-color="#D178B0"/>
                    <stop offset="0.47" stop-color="#EE8578"/>
                    <stop offset="1" stop-color="#F58969"/>
                </linearGradient>
                <linearGradient id="paint4_linear_2069_248" x1="43.9666" y1="5.99892" x2="52.8332" y2="5.99892" gradientUnits="userSpaceOnUse">
                    <stop stop-color="#B66BE5"/>
                    <stop offset="0.47" stop-color="#EE8578"/>
                    <stop offset="1" stop-color="#FC8C5C"/>
                </linearGradient>
                <linearGradient id="paint5_linear_2069_248" x1="44.4666" y1="8.84033" x2="44.4666" y2="13.2605" gradientUnits="userSpaceOnUse">
                    <stop stop-color="#B66CE5"/>
                    <stop offset="1" stop-color="#EE8577"/>
                </linearGradient>
                <clipPath id="clip0_2069_248">
                    <rect width="92" height="67" fill="white"/>
                </clipPath>
            </defs>
        </svg>
        <span class="design-process__excellence-text">Excellence Check</span>
    </div>
</div>

                <div class="design-process__step">
                    <div class="design-process__step-header">
                       <svg xmlns="http://www.w3.org/2000/svg" class="design-process__step-icon" width="40" height="40" viewBox="0 0 24 24" stroke-width="1" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                            <path d="M8 9l3 3l-3 3" />
                            <path d="M13 15l3 0" />
                            <path d="M3 4m0 2a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2z" />
                        </svg>
                        <span class="design-process__step-title">Development</span>
                    </div>
                    <div class="design-process__step-content">
                        <ul class="design-process__step-list">
                            <li class="design-process__step-item">Agile Sprints</li>
                            <li class="design-process__step-item">Design Reviews</li>
                            <li class="design-process__step-item">In Process Updates</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>