{% include head-no-nav.html %}
<div class="main">
	<div id="top-header-bar"></div>
	<header class="site-width">
	<!--<div id="width" class="responsive"><p></p></div>-->
	<nav>
		<ul>
			<li><a href="http://markrondina.com/portfolio">Portfolio</a></li>
			<li><a href="#">About</a></li>
			<li class="active_page"><a href="http://markrondina.com">Blog</a></li>
		</ul>
	</nav>
	
	<div id="myLogo" class="seal"></div>
	</header>
	<h1 class="post-title">
		{% if page.title %}
			{{ page.title }}
		{% endif %}
	</h1>

	<div class="post-content">{{ content }}</div>
	{% include footer.html %}
</div>