
{% include header.html %}
<div class="feature-article" {% if site.posts.first.feature-image %}
							style="background-image:url({{ site.posts.first.feature-image }})"
						{% endif %} >
	<!-- img src={{ site.posts.first.feature-image }}> -->
	<div class="feature-info">
		<h1>{{ site.posts.first.title }}</h1>
		<p class="feature-excerpt">{{ site.posts.first.excerpt }}</p>
		<span class="feature-date">{{ site.posts.first.date | date: "%B %-d, %Y" }}</span>
	</div>
</div>
<div class="wrapper">
	<h1>ARTICLES</h1>
	<div class="articles">
		<ul>
		  {% for post in site.posts offset:1 limit: 15 %}
		    <li class="toc-title"><a href="{{ post.url }}">{{ post.title }}</a>
		    	<p class="toc-meta">{{ post.date| date: "%B %-d, %Y" }} &nbsp; | &nbsp; 
		    		{% if post.author contains 'display_name' %}
    					{{ post.author.display_name }}
					{% else %}
					    {{ post.author}}
					{% endif %}
				</p>
				<!-- <img src="{{ author.profile-image }}"> -->
		    </li>

		  {% endfor %}
		</ul>
	</div>
</div>
{% include footer.html %}
		