{% include header.html %}
<div class="wrapper">
	<h1>ARTICLES</h1>
	<div class="articles">
		<ul>
		  {% for post in site.posts limit: 15 %}
		    <li><a href="{{ post.url }}">{{ post.title }}</a>
		    	<p class="post-meta">{{ post.date| date: "%B %-d, %Y" }} &nbsp; | &nbsp; 
		    		{% if post.author contains 'display_name' %}
    					{{ post.author.display_name }}
					{% else %}
					    {{ post.author}}
					{% endif %}
				</p>
				<!-- <img src="{{ author.profile-image }}"> -->
		    </li>

		  {% endfor %}
		</ul>
	</div>
</div>
{% include footer.html %}
		